body{
  background: linear-gradient(to right, rgb(109, 185, 230), rgb(255, 255, 255), rgb(17, 69, 182));
  font-family: 'Roboto', sans-serif;
}

#titulo{
   color: rgb(15, 14, 15);
   font-style: oblique;
   font-size: 35px;
   text-decoration: underline;
}

h3{
  color: rgb(63, 26, 196);
  font-style: oblique;
  font-size: 35px;
}

#subtitulo{
   color: rgb(63, 26, 196);
  font-style: oblique;
  font-size: 20px;


}